@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root { 
  --color_black: #272829; 
  --color_dark-gray: #272829; 
  --color_light-gray: #D8D9DA; 
  --color_white: #FFF6E0; 


  background-color: var(--color_black);
}

button, a, input { 
  cursor: pointer;
}
p, h2, label { 
  user-select: none
}
p {
  line-height: 1.2rem;
}

.App {
  text-align: center;
}



